.contact-div-card{
    background-color: #789bad;
}
.parass {
    letter-spacing: 1px;
    font-size: large;
    padding: 12px 0px;
    color: #6e828d;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}
.platform-last-div{
    background-color: #f05730;
    color: #a7bbc6;
}