.property-inovation-card {
    background-color: #393f51;
    color: #a7bbc6;
}

.paras {
    letter-spacing: 1px;
    font-size: large;
    padding: 12px 0px;
    color: #a7bbc6;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}