*{margin: 0; padding: 0; box-sizing: border-box;}
#videolayout{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.overlay{
    position: absolute;
    top: 300px;
    color: #a7bbc6;
    font-size: xx-large;
    left: 50px;
    font-weight: 700;
}
.small-text{
    font-size: small;
}
@media only screen and (max-width: 600px) {
    .overlay{
        position: absolute;
        top: 115px;
        color: #a7bbc6;
        font-size: xx-large;
        left: 19px;
        font-weight: 700;
    }
  }